input#id_comment {
    height:150px;
    width:300px;
}

span#thread-good-mark {
    cursor: pointer;
    color: orange;
}

span.comment-good-mark {
    cursor: pointer;
    color: orange;
}

.need-pre-wrap {
    white-space: pre-wrap;
}

.add-comment-to-comment:hover {
    color: lightskyblue;
}

.add-comment-to-comment {
    cursor: pointer;
    color: rgba(0,0,0,0.6);
}