/* study indexページ */
a.course-title-a {
    color: black;
    font-weight: normal;
}

a.course-title-a:hover {
    color: #33CCFF;
    text-decoration: none;
}

span.course-title-span {
    font-weight: normal;
}

span.course-title-span:hover {
    color: orange;
    text-decoration: none;
}

p.course-description-p {
    white-space: pre-wrap;
}

div.operate_course a {
    color: black;
}


/* チャットページ */
#chat-frame {
    margin: auto;
    padding: 1em 2em;
    background-color: #D8F3F0;
    overflow: scroll;
    height: 75%;
}

.chat-talk {
    overflow: hidden;
    margin: 0 0 1em 0;
    padding: 0;
    float: left;
    clear: both;
}

.chat-talk.mytalk {
    float: right;
}

.chat-talk span {
    display: block;
    margin: 0;
    padding: 0;
}

.chat-talk .talk-icon {
    float: left;
    width: auto;
}

.chat-talk .talk-attached-information {
    display: flex;
    margin: 0px;
}

.chat-talk .talk-user {
    margin-left: 20px;
}

.chat-talk .talk-attached-information .talk-send-time {
    margin-left: 30px;
}

.chat-talk.mytalk .my-send-time {
    text-align: right;
    margin-right: 100px;
}

.chat-talk .talk-content {
    position: relative;
    box-sizing: border-box;
    width: auto;
    min-height: 50px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto 0 70px;
    padding: 1em;
    word-break: break-all;
    white-space: pre-wrap;
}

.chat-talk .talk-icon img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chat-talk .talk-content:before {
    position: absolute;
    left: -20px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border: 10px solid transparent;
    border-right-color: #FFFFFF;
}

.chat-talk:not(.mytalk) .talk-content:before {
    top: 12px;
    transform: scale(2,1) rotate(25deg);
}

.chat-talk.mytalk .talk-icon {
    float: right;
}

.chat-talk.mytalk .talk-content {
    margin: 0 70px 0 auto;
    color: #000;
    background: #78FF6C;
}

.chat-talk.mytalk .talk-content:before {
    top: 15px;
    right: -20px;
    left: auto;
    border-color: transparent;
    border-left-color: #78FF6C;
}

.tooltip-inner {
    max-width: 300px;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow: auto;
}