{% extends 'stumee_auth/auth_base.html' %}

{% block title %}認証コード入力{% endblock title %}

{% block main-nav %}
{% endblock main-nav %}

{% block certification-form %}
    <div class="container">
        <div class="h4 mb-5 pt-3">
            認証コードを入力してください。
        </div>

        <div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button class="btn btn-primary btn-sm" type="submit">送信</button>
            </form>
        </div>
    </div>
{% endblock certification-form %}