{% extends 'thread/base.html' %}

{% block title %}Setting{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="form-group">
                <div class="row">
                    {{ form.username.errors }}
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <div class="row mt-5">
                    <div class="mx-auto">
                        <img src="{{ user.big.url }}" class="img-thumbnail">
                        <label class="input-group-btn align-bottom ml-2">
                            <span class="btn btn-secondary">
                                変更{{ form.original_image }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <div class="row">
                <button class="btn btn-primary btn-sm" type="submit">更新</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block extrajs %}
    <script>
        $('div.form-group input[name="username"]').addClass('form-control');
        $('div.form-group input[name="original_image"]').css('display', 'none');
    </script>
{% endblock %}