{% extends 'stumee_auth/auth_base.html' %}

{% block title %}設定ページ{% endblock title %}

{% block hint_tooltip %}
    <div class="how-to-use setting-hint">
        このページは設定ページです。<br>
        ユーザ名の変更や権限の変更、<br>
        アイコン画像を設定できます。<br>
        好きなユーザ名とアイコン画像を設定してください。<br>
        ショートカットキーはctrl+Enterです。
    </div>
{% endblock hint_tooltip %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" name="userSetting">
        <div class="container">
            <div class="form-group">
                <div class="row">
                    {{ form.username.errors }}
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <div class="mt-5">
                    {{ form.user_auth.label_tag }}
                    <div class="border-top border-bottom">
                    {% for radio in form.user_auth %}
                        <div class="custom-control custom-radio pt-1 pb-1">
                            {{ radio.tag }}
                            <label class="custom-control-label" for="{{ radio.id_for_label }}">
                                {{ radio.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="mx-auto">
                        <img src="{{ user.big.url }}" class="img-thumbnail">
                        <label class="input-group-btn align-bottom ml-2">
                            <span class="btn btn-secondary">
                                変更{{ form.original_image }}
                            </span>
                            <span id="posted-iconname"></span>
                        </label>
                    </div>
                </div>
            </div>

            {% csrf_token %}

            <div class="row mb-3">
                <button class="btn btn-primary btn-sm" type="submit">更新</button>
            </div>
        </div>
    </form>

    <!--TAへの権限変更時、認証キーを入力するモーダル-->
    <div class="modal fade" id="modal-TA-Certification-Key-Form" tabindex="-1" role="dialog" aria-labelledby="modal-TA-Certification-Key-Form" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TACertificationKeyModalLabel">TA認証パス</h5>
                    <button type="button" class="certification-modal-close close" data-dismiss="modal" aria-label="閉じる">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in change_ta_form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary certification-modal-close" data-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary">送信</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Teacherへの権限変更時、認証キーを入力するモーダル-->
    <div class="modal fade" id="modal-Teacher-Certification-Key-Form" tabindex="-1" role="dialog" aria-labelledby="modal-Teacher-Certification-Key-Form" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TeacherCertificationKeyModalLabel">Teacher認証パス</h5>
                    <button type="button" class="certification-modal-close close" data-dismiss="modal" aria-label="閉じる">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in change_teacher_form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary certification-modal-close" data-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary">送信</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const changeUserIconForm = document.querySelector('#id_original_image');
            const handleFile = () => {
                const inputFiles = changeUserIconForm.files;
                previewFile(inputFiles[0]);
            }
            changeUserIconForm.addEventListener('change', handleFile);
        });

        function previewFile(imageFile){
            const previewIconname = document.querySelector('#posted-iconname');
            previewIconname.textContent = imageFile.name;
        }

        document.onkeydown = function(e) {
            if (e.ctrlKey && e.keyCode==13) {
                document.userSetting.submit();
            }
        }
    </script>
{% endblock extrajs %}