{% extends 'stumee_meeting/meeting_base.html' %}

{% block title %}ユーザ一覧{% endblock %}

{% block externalfile %}
    {{ block.super }}
    <style>
        li#meeting-users-sidebar-item {
            background-color: #e0ffff;
            border-right: solid 3px orange;
        }
    </style>
{% endblock externalfile %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- include sidebar -->
            {% include 'stumee_meeting/meeting_sidebar.html' %}

            <div role="main" class="col-md-8">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">ユーザ一覧</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'stumee_meeting:post_thread' %}">質問する</a>
                        </div>
                    </div>
                </div>
                {% if user_list %}
                    <div class="row">
                    {% for user in user_list %}
                            <div class="card border-secondary m-3 col-md-2 p-0">
                                <img class="card-img-top" src="{{ user.big.url }}" alt="ユーザアイコン">
                                <div class="card-body text-truncate">
                                    <span class="card-title">
                                        <a href="{% url 'stumee_auth:profile' user.id %}">{{ user.username }}</a>
                                    </span>
                                    <p class="card-text">role : {{ user.get_user_auth_display }}</p>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}