{% extends 'stumee_meeting/meeting_base.html' %}

{% block title %}Meeting{% endblock %}

{% block externalfile %}
    {{ block.super }}
    <style>
        li#meeting-tags-sidebar-item {
            background-color: #e0ffff;
            border-right: solid 3px orange;
        }
    </style>
{% endblock externalfile %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- include sidebar -->
            {% include 'stumee_meeting/meeting_sidebar.html' %}

            <div role="main" class="col-md-8">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">タグ一覧</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'stumee_meeting:post_thread' %}">質問する</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% if tag_list %}
                    {% for tag in tag_list %}
                        <div class="card border-secondary m-3 col-md-3 p-0">

                            <div class="card-header" style="background-color: white;">
                                <a class="btn btn-outline-secondary btn-sm" role="button" href="{% url 'stumee_meeting:tag_filter' tag.name %}">{{ tag.name }}</a>
                            </div>

                            <div class="card-body row">
                                <p>質問 : {{ tag.thread_count }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No Tag here</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}