{% extends 'stumee_meeting/meeting_base.html' %}

{% block title %}ユーザ一覧{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
             <div class="col-md-2 d-none d-md-block sidebar border-right" style="background-color: white;">
                 <div class="sidebar-sticky row">
                     <div class="col-5"></div>
                     <ul class="nav flex-column col-7 pr-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'stumee_meeting:index' %}">ホーム</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'stumee_meeting:question' %}">質問</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'stumee_meeting:tags' %}">タグ</a></li>
                        <li class="nav-item"  style="background-color: #e0ffff; border-right: solid 3px orange;">
                            <a class="nav-link" href="">ユーザ</a>
                        </li>
                     </ul>
                 </div>
             </div>
            <div role="main" class="col-md-8">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">ユーザ一覧</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'stumee_meeting:post_thread' %}">質問する</a>
                        </div>
                    </div>
                </div>
                {% if user_list %}
                    <div class="row">
                    {% for user in user_list %}
                            <div class="card border-secondary m-3 col-md-2 p-0">
                                <img class="card-img-top" src="{{ user.big.url }}" alt="ユーザアイコン">
                                <div class="card-body text-truncate">
                                    <span class="card-title">
                                        <a href="{% url 'stumee_auth:profile' user.id %}">{{ user.username }}</a>
                                    </span>
                                    <p class="card-text">role : {{ user.get_user_auth_display }}</p>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}