{% extends 'stumee_auth/base.html' %}
{% load static %}

{% block externalfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'stumee_meeting/css/css_meeting.css' %}">
{% endblock externalfile %}

{% block hint_tooltip %}
    {% if user.user_auth is not 0 and user.is_authenticated %}
    <div class="how-to-use meeting-hint tooltip-TA">
        このページでは、掲示板形式で質問に回答することができます。<br>
        Pickボタンを押すことで質問を学生に注目させることができます。<br>
        また、演習に必要な知識やよくある質問を、TAがスレッドに<br>まとめて学生に提示するといった用途も想定しています。
    </div>
    {% else %}
    <div class="how-to-use meeting-hint">
        このページでは、掲示板形式で他の学生やTAに質問をすることができます。<br>
        先生やTAにタグを指定してされている場合、そのタグを使用してください。<br>
        他の学生の質問に回答できる場合、積極的に回答して助け合いましょう。<br>
        しかし、答えに近い回答をすることは避けてください。
    </div>
    {% endif %}
{% endblock hint_tooltip %}

{% block search_form %}
    <!-- Meeting search form -->
    <form class="form-inline my-lg-0 mr-3" action="{% url 'stumee_search:meeting_search' %}" method="get">
        <div class="input-group">
            <input name="meeting_search_form" type="search" class="form-control" placeholder="Meeting内を検索"
                     aria-label="検索..." value="{{ request.GET.meeting_search_form }}" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0" id="button-addon2">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock search_form %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'stumee_meeting/js/js_meeting.js'%}" defer="defer"></script>
{% endblock extrajs %}