<div class="col-md-2 d-none d-md-block sidebar border-right" style="background-color: white;">
     <div class="sidebar-sticky row">
         <div class="col-5"></div>
         <ul class="nav flex-column col-7 pr-0">
            <li class="nav-item" id="meeting-home-sidebar-item">
                <a class="nav-link" href="{% url 'stumee_meeting:index' %}">ホーム</a>
            </li>
            <li class="nav-item" id="meeting-question-sidebar-item">
                <a class="nav-link" href="{% url 'stumee_meeting:question' %}">質問</a>
            </li>
            <li class="nav-item" id="meeting-tags-sidebar-item">
                <a class="nav-link" href="{% url 'stumee_meeting:tags' %}">タグ</a>
            </li>
            <li class="nav-item" id="meeting-users-sidebar-item">
                <a class="nav-link" href="{% url 'stumee_meeting:users' %}">ユーザ</a>
            </li>
         </ul>
     </div>
 </div>