{% extends 'stumee_auth/base.html' %}
{% load static %}

{% block externalfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'stumee_meeting/css/css_meeting.css' %}">
{% endblock externalfile %}

{% block search_form %}
    <!-- Meeting search form -->
    <form class="form-inline my-lg-0 mr-3" action="{% url 'stumee_search:meeting_search' %}" method="get">
        <div class="input-group">
            <input name="meeting_search_form" type="search" class="form-control" placeholder="Meeting内を検索"
                     aria-label="検索..." value="{{ request.GET.meeting_search_form }}" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0" id="button-addon2">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock search_form %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'stumee_meeting/js/js_meeting.js'%}" defer="defer"></script>
{% endblock extrajs %}