{% extends 'stumee_meeting/meeting_base.html' %}

{% block title %}質問する{% endblock %}

{% block content %}
    <div class="container"><h1>質問する</h1></div>
    <form method="POST" action="">
        <div class="container">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <button class="btn btn-primary btn-sm" type="submit">質問を投稿する</button>
        </div>
    </form>
{% endblock %}

{% block extrajs %}
    <script>
        $('div.form-group [id^=id_]').addClass('form-control');
        $('div.form-group input[id=id_tag]').attr({
            'pattern': '^[0-9A-Za-z, ]+$',
            'aria-describedby' : 'tagHelpBlock'
        });
        $('div.form-group input[id=id_tag]').after(
            '<small id="tagHelpBlock" class="form-text text-muted">タグ名は半角英数字で、カンマ区切りで入力してください。</small>'
        );
    </script>
{% endblock %}