{% extends 'stumee_meeting/list-form-of-thread-base.html' %}

{% block title %}{{ tag_name }}が付いた質問{% endblock title %}

{% block externalfile %}
    {{ block.super }}
    <style>
        li#meeting-question-sidebar-item {
            background-color: #e0ffff;
            border-right: solid 3px orange;
        }
    </style>
{% endblock externalfile %}

{% block subtitle %}{{ tag_name }}が付いた質問{% endblock subtitle %}

<!-- don't show text of "picked" -->
{% block show_is_picked %}{% endblock show_is_picked %}