{% extends 'stumee_meeting/meeting_base.html' %}
{% load static %}

{% block title %}{{ thread.title }}{% endblock title %}

{% block externalfile %}
    {{ block.super }}
    <style>
        li#meeting-question-sidebar-item {
            background-color: #e0ffff;
            border-right: solid 3px orange;
        }
    </style>
{% endblock externalfile %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- include sidebar -->
        {% include 'stumee_meeting/meeting_sidebar.html' %}

        <!--Main Contents-->
        <div role="main" class="col-md-8">

            <div class="mb-5">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom row">
                    <div class="d-flex flex-wrap row">
                        <h1 class="h2 mb-3 col-12 ml-3">{{ thread.title }}</h1>
                        <div class="col-12 ml-3">
                            <span class="h5 pr-3">回答 <span class="font-weight-bold" style="color:orange;">{{ comments | length }}</span></span>
                            <span class="small pr-5">投稿日 {{ thread.make_date|date:"Y/n/j H:m" }}</span>
                        </div>
                    </div>
                </div>

                <div id="thread_description" class="mb-2 need-pre-wrap">{{ thread.description }}</div>
                <div id="thread-good">
                    <span id="thread-good-mark" data-href="{% url 'stumee_meeting:thread_good' thread.id %}">&hearts;</span>
                    <span class="thread-good-count">{{ thread.good_count }}</span>
                </div>

                <div class="row">
                    <div class="col-9">
                        {% for tag in thread.tag.all %}
                            <a class="btn btn-outline-secondary btn-sm" role="button" href="{% url 'stumee_meeting:tag_filter' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="row col-2">
                        <div>
                            <img class="rounded" src="{{ thread.user.small.url }}">
                        </div>
                        <div>
                            <a href="{% url 'stumee_auth:profile' thread.user.id %}">{{ thread.user.username }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h4 class="mb-3">この質問に対する回答</h4>
                {% if comments %}
                {% for comment in comments %}
                    <div class="thread_contents border-bottom mb-1 mt-4 pt-1 pb-3">
                        <div class="text need-pre-wrap">{{ comment.comment }}</div>
                        <div class="comment-good">
                            <span class="comment-good-mark" data-href="{% url 'stumee_meeting:comment_good' comment.id %}">&hearts;</span>
                            <span id="comment-good-count-{{ comment.id }}">{{ comment.good_count }}</span>
                        </div>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="row col-2">
                                <div>
                                    <img class="rounded" src="{{ comment.user.small.url }}">
                                </div>
                                <div>
                                    <a href="{% url 'stumee_auth:profile' comment.user.id %}">{{ comment.user.username }}</a>
                                </div>
                            </div>
                        </div>
                        {% if comment.comment_to_comment.all %}
                            {% for comment_to_comment in comment.comment_to_comment.all %}
                                {% if forloop.last %}
                                <div class="comment_contents border-top border-bottom ml-4 text-left">
                                    <p class="pt-2 need-pre-wrap">{{ comment_to_comment.comment_to_comment }} - <a href="{% url 'stumee_auth:profile' comment_to_comment.user.id %}">{{ comment_to_comment.user.username }}</a></p>
                                </div>
                                {% else %}
                                <div class="comment_contents border-top ml-4 text-left">
                                    <p class="pt-2 need-pre-wrap">{{ comment_to_comment.comment_to_comment }} - <a href="{% url 'stumee_auth:profile' comment_to_comment.user.id %}">{{ comment_to_comment.user.username }}</a></p>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <small class="add-comment-to-comment" data-comment-pk="{{ comment.pk }}" data-comment-username="{{ comment.user.username }}">コメント追加</small>
                    </div>
                {% endfor %}
                {% else %}
                <div>まだ回答がありません。</div>
                {% endif %}
            </div>

            <div>
                <h4 class="mt-4" id="comment-forms-title">この質問に回答する</h4>
                <form method="POST" action="" id="answer-comment-form">
                    {% for field in answer_form %}
                        <div class="form-group">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm mb-3" type="submit" id="answer-submit-btn" name="answer-submit-btn">回答する</button>
                </form>

                <form method="POST" action="" id="comment-to-comment-form" style="display:none">
                    {% for field in comment_form %}
                        <div class="form-group">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <button class="btn btn-secondary btn-sm mb-3" id="comment-cancel-btn">キャンセル</button>
                    <button class="btn btn-primary btn-sm mb-3" type="submit" id="comment-submit-btn" name="comment-submit-btn">コメントする</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'stumee_meeting/js/js-add-good-count.js'%}"></script>
    <script type="text/javascript" src="{% static 'stumee_meeting/js/js-comment-to-comment.js'%}"></script>
{% endblock extrajs %}

