{% extends 'thread/base.html' %}

{% block title %}質問する{% endblock %}

{% block search_form %}
<form class="form-inline my-2 my-lg-0 mr-5" action="{% url 'stumee_search:meeting_search' %}" method="get">
      <input name="meeting_search_form" type="search" class="form-control mr-sm-2" placeholder="Meeting内を検索" aria-label="検索..." value="{{ request.GET.search_form }}">
      <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">検索</button>
</form>
{% endblock %}

{% block content %}
    <div class="container"><h1>質問する</h1></div>
    <form method="POST" action="">
        <div class="container">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <button class="btn btn-primary btn-sm" type="submit">質問を投稿する</button>
        </div>
    </form>
{% endblock %}

{% block extrajs %}
    <script>
        $('div.form-group [id^=id_]').addClass('form-control');
    </script>
{% endblock %}