{% extends 'stumee_study/study_base.html' %}

{% block title %}質問ルーム{% endblock %}

{% load urlize_filter %}

{% load study_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-none d-md-block sidebar border-right" style="background-color: white;">
            <div class="sidebar-sticky row">
                <div class="col-4"></div>
                <ul class="nav flex-column col-8 pr-0">
                    {% with course_id|judge_if_staffs as staff_list %}
                        {% if user.id in staff_list %}

                            <li class="nav-item" style="background-color: #e0ffff; border-right: solid 3px orange;">
                                <div class="dropdown">
                                    <!-- 切替ボタンの設定 -->
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        質問に回答する
                                    </button>
                                    <!-- ドロップメニューの設定 -->
                                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                                        {% for channel in student_channel %}
                                            <a class="dropdown-item" href="{% url 'stumee_chat:chat_question' channel.course.id channel.user.id %}">{{ channel.user.username }}</a>
                                        {% endfor %}
                                    </div><!-- /.dropdown-menu -->
                                </div><!-- /.dropdown -->
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'stumee_chat:chat_discussion' course_id %}">相談部屋</a>
                            </li>

                            <li class="nav-item text-center mt-2">
                                <p class="font-weight-bold" data-toggle="tooltip" data-html="true" title="未回答の質問者一覧が表示されます。<br>名前の横のボタンで回答済みにできます。">
                                    新着の質問
                                </p>
                            </li>

                            <li class=" nav-item text-center list-group" id="student-name-list">
                            </li>
                        {% else %}
                            <li class="nav-item" style="background-color: #e0ffff; border-right: solid 3px orange;">
                                <a class="nav-link" href="">TAに質問する</a>
                            </li>
                        {% endif %}
                    {% endwith %}
                </ul>
            </div>
        </div>

        <div role="main" class="col-md-8">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                {% with course_id|judge_if_staffs as staff_list %}
                    {% if user.id in staff_list %}
                        <h1 class="h2">質問に回答</h1>
                        <a href="{% url 'stumee_chat:students-info' course_id %}" id="student-info-button" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                            ダッシュボード
                        </a>
                    {% else %}
                        <h1 class="h2">TAに質問</h1>
                        {% if problem_nums_form %}
                            <div class="form-group">
                                {{ problem_nums_form }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>
            <div id="chat-frame">
                {% for message in chat_messages %}
                    {% ifequal user message.user %}
                    <p class="chat-talk mytalk">
                        <span class="talk-icon">
                            <img class="rounded" src="{{ message.user.small.url }}">
                        </span>
                        <span class="my-send-time small">{{ message.created_at|date:"H:i" }}</span>
                        <span class="talk-content">{{ message.content|my_urlize }}</span>
                    </p>
                    {% else %}
                    <p class="chat-talk">
                        <span class="talk-icon">
                            <img class="rounded" src="{{ message.user.small.url }}">
                        </span>
                        <span class="talk-attached-information">
                            <span class="talk-user small">{{ message.user.username }}</span>
                            <span class="talk-send-time small">{{ message.created_at|date:"H:i" }}</span>
                        </span>
                        <span class="talk-content">{{ message.content|my_urlize }}</span>
                    </p>
                    {% endifequal %}
                {% endfor %}
                <!-- jsでここに追加するようにする　-->
                <div id="chat-append-by-js">
                </div>
            </div>

            <div class="form-group mt-5">
                <textarea id="chat-message-input" rows="1" class="form-control" placeholder="質問を入力(Ctrl+Enterで送信)"></textarea><br>
                <button type="submit" class="btn btn-primary mr-3" id="chat-message-submit">チャット送信</button>
                <button type="submit" class="btn btn-primary mr-3" id="file-upload-button">ファイル送信</button>
                <button type="submit" class="btn btn-primary" id="start-video">画面共有開始</button>
                <button type="submit" class="btn btn-danger" id="end-video">画面共有停止</button>
                {{ form.as_p }}
            </div>
            {{ course_id|json_script:"course-id" }}
            {{ user_id|json_script:"user-id" }}

            <!-- 画面共有 -->
            <div id="videos-container">
                <div class="ml-5">自分</div>
                <video id="local-video" class="m-3"></video>
                <div class="ml-5">相手</div>
                <div class="remote-streams m-3" id="remote-videos"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-send-file-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label1">送信確認</h5>
                    <button type="button" class="close cancel-file-send-btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ファイルを送信しますか？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-file-send-btn" data-dismiss="modal">キャンセル</button>
                    <button type="button" id="file-send-btn" class="btn btn-primary">送信</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show File Modal -->
    <div class="modal fade" id="showFileContentsModal" tabindex="-1" role="dialog" aria-labelledby="showFileContentsModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showFileContentsModalTitle">file name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="showFileContentsModalBody">
                    file contents
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

{{ request.get_full_path | json_script:"RoomNameURL" }}
{% load static %}
<script type="text/javascript" src="{% static 'stumee_chat/js/js_question.js'%}" defer="defer"></script>
{% endblock %}

<!-- JS読み込み -->
{% block extrajs %}
<script>
    {% include 'stumee_auth/js-csrftoken.html' %}

    window.addEventListener('load', function() {
        const CourseID = JSON.parse(document.getElementById('course-id').textContent);
        const UserID = JSON.parse(document.getElementById('user-id').textContent);
        let ws_protocol = 'ws'

        if (location.protocol == 'https:'){
            ws_protocol = 'wss';
        }

        const chatSocket = new WebSocket(
            ws_protocol
            + '://'
            + window.location.host
            + '/ws/chat/'
            + CourseID
            + '/question/'
            + UserID
            + '/'
        );

        {% include 'stumee_chat/js-related-frame-of-chat.html' %}
    })
</script>

<!-- include Long Polling function -->
{% with course_id|judge_if_staffs as staff_list %}
    {% if user.id in staff_list %}
        {% include 'stumee_chat/notice-not-replied-questions.html' %}
    {% endif %}
{% endwith %}

{% endblock %}