document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.ctrlKey){
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    }
};

document.querySelector('#chat-message-submit').onclick = function(e) {
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;
    if (!message) {
        return false;
    }
    chatSocket.send(JSON.stringify({
        'message': message,
        'user_id': {{ user.id }},
        'user_img': "{{ user.small.url }}",
        'user_name': "{{ user.username }}",
    }));
    messageInputDom.value = '';
    messageInputDom.setAttribute("rows", 1);
};

function height_expansion(){
    const ChatContentTextArea = document.getElementById("chat-message-input");
    const maxLineHeight = 5;
    let LineHeight = Number(ChatContentTextArea.getAttribute("rows"));

    while (ChatContentTextArea.scrollHeight < ChatContentTextArea.offsetHeight && LineHeight > 1){
        LineHeight--;
        ChatContentTextArea.setAttribute("rows", LineHeight);
    }

    while (ChatContentTextArea.scrollHeight > ChatContentTextArea.offsetHeight && LineHeight < maxLineHeight){
        LineHeight++;
        ChatContentTextArea.setAttribute("rows", LineHeight);
    }
}