const chatFrame = document.getElementById('chat-frame');
const displayEnteringUser = document.getElementById('display-entering-user');
const typeMessage = "MESSAGE";
const typeEntering = "ENTERING";
const elementIsDisplayShareBtn = document.getElementById("is-display-shareBtn");
const isDisplayShareBtn = elementIsDisplayShareBtn != null ? JSON.parse(elementIsDisplayShareBtn.textContent) : false;
const elementSessionSharedMessage = document.getElementById("session-shared-message");
let clearEnteringTimer;

chatFrame.scrollTop = chatFrame.scrollHeight;

chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const now = new Date();
    const hour = ('00' + now.getHours()).slice(-2);
    const minute = ('00' + now.getMinutes()).slice(-2);
    const time = hour + ':' + minute;

    if (data.message_type == typeEntering) {
        if (data.user_name == '{{ user.username }}') {
            return false;
        }
        handleDisplayEnteringUser(htmlEscape(data.message));
        return false;
    }

    if ({{ user.id }} == data.user_id){
        var h = '<p class="chat-talk mytalk">'
              + '<span class="talk-icon">'
              + '<img class="rounded" src='
              + data.user_img
              + '>'
              + '</span>'
              + '<span class="my-send-time small">'
              + time
              + '</span>'
              + '<span class="talk-content">'
              + htmlEscape(data.message)
              + '</span>'
              + '</p>'
    } else {
        var h = '<p class="chat-talk">'
              + '<span class="talk-icon">'
              + '<img class="rounded" src='
              + data.user_img
              + '>'
              + '</span>'
              + '<span class="talk-attached-information">'
              + '<span class="talk-user small">'
              + data.user_name
              + '</span>'
              + '<span class="talk-send-time small">'
              + time
              + '</span>'
              + '</span>'
              + '<span class="talk-content">'
              + htmlEscape(data.message)
              + '</span>'
              + '</p>'
    }
    document.getElementById('chat-append-by-js').insertAdjacentHTML('beforeend',h);

    if (isDisplayShareBtn) {
        const appendedNode = document.getElementById('chat-append-by-js').lastElementChild;
        let appendedNodeContent = appendedNode.querySelector('.talk-content');
        appendedNodeContent.addEventListener("mouseenter", addMessageShareButton, false);
        appendedNodeContent.addEventListener("mouseleave", removeMessageShareButton, false);
    }
    chatFrame.scrollTop = chatFrame.scrollHeight;
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
    if (e.wasClean) {
        alert(`[close] Connection closed cleanly, code=${e.code} reason=${e.reason}`);
    } else {
        alert('[close] Connection died');
        alert(chatSocket.url);
    }
};

document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.ctrlKey){
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    }
};

document.querySelector('#chat-message-input').addEventListener('input',function(e){
    chatMessageSubmit("{{ user.username }}さんが入力中...", messageType=typeEntering);
}, false);

function handleDisplayEnteringUser(message) {
    if (!message) {
        return false;
    }
    userName = message.match(/(.*)さんが入力中/)[1];

    if (!displayEnteringUser.textContent) {
        displayEnteringUser.textContent = message;
    }else if (!displayEnteringUser.textContent.includes(userName)) {
        displayEnteringUser.textContent = message.replace(/(.*)さんが入力中/, '$1さん他が入力中');
        setTimeout(resetDisplayingEnteringUser, "2000");
    }

    clearTimeout(clearEnteringTimer);
    clearEnteringTimer = setTimeout(resetDisplayingEnteringUser, "2000");
}

function resetDisplayingEnteringUser() {
    displayEnteringUser.textContent = '';
}

document.querySelector('#chat-message-submit').onclick = function(e) {
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;

    if (!isDuringClass()) {
        alert("授業時間外です。このメッセージは読まれない可能性があります。");
    }

    chatMessageSubmit(message);
    messageInputDom.value = '';
    messageInputDom.setAttribute("rows", 1);
};

function chatMessageSubmit(message, messageType=typeMessage) {
    if (!message) {
        return false;
    }

    chatSocket.send(JSON.stringify({
        'message': message,
        'user_id': {{ user.id }},
        'user_img': "{{ user.small.url }}",
        'user_name': "{{ user.username }}",
        'message_type': messageType,
    }));
}

function isDuringClass() {
    // output [input, hour, minute]
    {% if class_start_time %}
        regex = /(\d+):(\d+)/
        const regexResultOfStartTime = '{{ class_start_time|date:"H:i" }}'.match(regex);
        const classStartTime = returnSetDate(regexResultOfStartTime[1], regexResultOfStartTime[2]);
        const regexResultOfEndTime = '{{ class_end_time|date:"H:i" }}'.match(regex);
        const classEndTime = returnSetDate(regexResultOfEndTime[1], regexResultOfEndTime[2]);

        const now = new Date();
        if (now >= classStartTime && now <= classEndTime) {
            return true;
        }
        return false;
    {% else %}
        return true;
    {% endif %}
}

function returnSetDate(hour, minute) {
    const setDate = new Date();
    setDate.setHours(hour);
    setDate.setMinutes(minute);
    setDate.setSeconds(0);
    setDate.setMilliseconds(0);
    return setDate;
}


const htmlEscape = (str) => {
    if (!str) return;
    const regex = /<(?!\/)(?!a\s+href\s?=\s?"?https?.*?(192.168.99.102|ymir.eng.kagawa-u.ac.jp)).*?>/s;
    if (!regex.test(str)) {
        return str;
    }
    return str.replace(/[<>&"'`]/g, (match) => {
        const escape = {
            '<': '&lt;',
            '>': '&gt;',
            '&': '&amp;',
            '"': '&quot;',
            "'": '&#39;',
            '`': '&#x60;'
        };
        return escape[match];
    });
}

document.getElementById("chat-message-input").oninput = height_expansion;

function height_expansion(){
    const ChatContentTextArea = document.getElementById("chat-message-input");
    const maxLineHeight = 5;
    let LineHeight = Number(ChatContentTextArea.getAttribute("rows"));

    while (ChatContentTextArea.scrollHeight < ChatContentTextArea.offsetHeight && LineHeight > 1){
        LineHeight--;
        ChatContentTextArea.setAttribute("rows", LineHeight);
    }

    while (ChatContentTextArea.scrollHeight > ChatContentTextArea.offsetHeight && LineHeight < maxLineHeight){
        LineHeight++;
        ChatContentTextArea.setAttribute("rows", LineHeight);
    }
}

document.querySelector('#file-upload-button').onclick = function(e) {
    const FileUploadForm = document.querySelector('#id_file');
    FileUploadForm.click();
}

document.querySelector('#id_file').onchange = function(e) {
    const UploadedFile = document.querySelector('#id_file').files[0];
    const formData = new FormData();
    formData.append('file', UploadedFile);
    fetch('{% url 'stumee_chat:process_for_uploaded_file' %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': csrftoken,
        },
    }).then(response => {
        return response.json();
    }).then(response => {
        sendFileURL(response.url, response.filename);
    }).catch(error => {
        console.log(error);
        alert("ファイルの送信に失敗しました");
    }).finally(() => {
        document.querySelector('#id_file').value = '';
    });
}

function sendFileURL(fileURL, fileName) {
    const messageInputDom = document.querySelector('#chat-message-input');
    const imageFileExtensions = ['png', 'jpg', 'jpeg', 'gif'];
    let lowerFileExtension = getLowerFileExtension(fileName);

    $('#confirm-send-file-modal').modal('show');
    document.querySelector('#file-send-btn').onclick = function(e) {
        if (imageFileExtensions.includes(lowerFileExtension)) {
            messageInputDom.value = `<a href=${fileURL} class="posted-image">画像：${fileName}</a>`;
        } else {
            messageInputDom.value = `<a href=${fileURL} class="posted-file">ファイル：${fileName}</a>`;
        }
        document.querySelector('#chat-message-submit').click();
        $('#confirm-send-file-modal').modal('hide');
    }
}

function getLowerFileExtension(fileName) {
    return fileName.toLowerCase().split(/#|\?/)[0].split('.').pop().trim()
}

function readContentsOfClickedFile(fileURL, fileName) {
    fetch(fileURL)
        .then(response => {
            if (!response.ok) {
                throw new Error('ファイルにアクセスできませんでした');
            }
            return response.blob();
        })
        .then(blob => new File([blob], fileName))
        .then(file => {
            let fileReader = new FileReader();
            fileReader.readAsText(file);

            fileReader.onload = function () {
                let fileContents = fileReader.result;
                $("#showFileContentsModal").modal({}, {
                    fileName: fileName,
                    fileContents: fileContents,
                });
            };

            fileReader.onerror = function () {
                throw new Error('ファイルの読み込みに失敗しました');
            }
        })
        .catch(error => {
            alert(error);
        });
}

$("#chat-frame").on("click", ".posted-file", function (e) {
    e.preventDefault();
    let fileName = $(this).text();
    let fileURL = $(this).attr("href");
    return readContentsOfClickedFile(fileURL, fileName);
});

$("#chat-frame").on("click", ".posted-image", function (e) {
    e.preventDefault();
    let imageName = $(this).text();
    let imageURL = $(this).attr("href");

    fetch(imageURL)
        .then(response => {
            if (!response.ok) {
                throw new Error('画像にアクセスできませんでした');
            }else {
                $("#showFileContentsModal").modal({}, {
                    fileName: imageName,
                    imageURL: imageURL,
                });
            }
        })
        .catch(error => {
            alert(error);
        });
});

$("#showFileContentsModal").on('show.bs.modal', function(e) {
    let modal = $(this);
    let fileName = e.relatedTarget.fileName;
    modal.find("#showFileContentsModalTitle").text(fileName);

    // クリックされたのがソースコードなら
    if (e.relatedTarget.fileContents) {
        let fileContents = e.relatedTarget.fileContents;
        let escapedFileContents = htmlEscape(fileContents);
        modal.find("#showFileContentsModalBody").html(`<pre><code>${escapedFileContents}</code></pre>`);

        // re highlight before show modal
        for (const block of document.querySelectorAll('pre code')) {
            hljs.highlightBlock(block);
            hljs.lineNumbersBlock(block);
        }
    }

    // クリックされたのが画像ファイルなら
    if (e.relatedTarget.imageURL) {
        let imageURL = e.relatedTarget.imageURL;
        modal.find("#showFileContentsModalBody").html(`<image src='${imageURL}' class='img-fluid mx-auto d-block'>`);
    }
});

$("#showFileContentsModal").on('hidden.bs.modal', function (e) {
    let modal = $(this);
    modal.find("#showFileContentsModalTitle").text("");
    modal.find("#showFileContentsModalBody").text("");
});


const problemNumsForm =  document.querySelector('#id_problem_being_solved');
if (problemNumsForm != null) {
    problemNumsForm.onchange = function(e) {
        const form_value = problemNumsForm.value;
        const data = {course_id: "{{course_id}}", user_id: "{{user.id}}", problem_nums: form_value};
        fetch('{% url 'stumee_chat:post-problem-nums' %}', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
        }).then(response => {
            return response.json();
        }).then(response => {
            $('#id_problem_being_solved').tooltip('hide');
            problemNumsForm.blur();
            problemNumsForm.options[response.problem_nums-1].selected = true;
        }).catch(error => {
            console.log(error);
        });
    }
}

handleDisplayShareButton();

function handleDisplayShareButton() {
    if (!isDisplayShareBtn) {
        return false;
    }
    const chatContents = document.querySelectorAll(".talk-content");
    chatContents.forEach(function (element) {
        element.addEventListener("mouseenter", addMessageShareButton, false);
        element.addEventListener("mouseleave", removeMessageShareButton, false);
    });
}

function addMessageShareButton(e) {
    const element = e.currentTarget;
    let shareButton = document.createElement("span");
    shareButton.innerHTML = '<i class="fas fa-share-square fa-xs"></i>';
    shareButton.classList.add("share-message-btn");
    shareButton.addEventListener("click", handleClickedShareButton, false);
    element.appendChild(shareButton);
}

function removeMessageShareButton(e) {
    const element = e.currentTarget;
    const shareButton = element.lastElementChild;
    if (e.relatedTarget != shareButton) {
        element.removeChild(shareButton);
    }
}

function handleClickedShareButton(e) {
    if (!confirm("このメッセージを共有しますか?")){
        return false;
    }

    const clickedElement = e.currentTarget;
    const sharedMessageText = getMessageContent(clickedElement.parentNode);
    const postText = `共有されたメッセージ(<a href=${location.href}>URL</a>):\n${sharedMessageText}`;
    const data = {course_id: CourseID, shared_message: postText};
    fetch('{% url 'stumee_chat:save-shared-message' %}', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'X-CSRFToken': csrftoken,
        },
    }).then(response => {
        return response.json();
    }).then(response => {
        if (response.response_message == "正常に保存されました") {
            window.location.href = response.redirect_url;
        }
    }).catch(error => {
        console.log(error);
    });
}

function getMessageContent(element) {
    let resultText = "";
    for(childElm of element.childNodes){
        if(childElm.nodeName == "#text"){
            resultText += childElm.nodeValue;
        }
        if(childElm.nodeName == "A"){
            resultText += childElm.outerHTML;
        }
    }
    return resultText;
}

chatSocket.onopen = function(e) {
    if (elementSessionSharedMessage != null) {
        loadSharedMessage();
    }
}

function loadSharedMessage() {
    const SharedMessage = JSON.parse(elementSessionSharedMessage.textContent);
    document.querySelector('#chat-message-input').value = SharedMessage;
    document.querySelector('#chat-message-submit').click();
}