chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const now = new Date();
    const hour = ('00' + now.getHours()).slice(-2);
    const minute = ('00' + now.getMinutes()).slice(-2);
    const time = hour + ':' + minute;
    if ({{ user.id }} == data.user_id){
        var h = '<p class="chat-talk mytalk">'
              + '<span class="talk-icon">'
              + '<img class="rounded" src='
              + data.user_img
              + '>'
              + '</span>'
              + '<span class="my-send-time small">'
              + time
              + '</span>'
              + '<span class="talk-content">'
              + data.message
              + '</span>'
              + '</p>'
    } else {
        var h = '<p class="chat-talk">'
              + '<span class="talk-icon">'
              + '<img class="rounded" src='
              + data.user_img
              + '>'
              + '</span>'
              + '<span class="talk-attached-information">'
              + '<span class="talk-user small">'
              + data.user_name
              + '</span>'
              + '<span class="talk-send-time small">'
              + time
              + '</span>'
              + '</span>'
              + '<span class="talk-content">'
              + data.message
              + '</span>'
              + '</p>'
    }
    document.getElementById('chat-append-by-js').insertAdjacentHTML('beforeend',h);
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
    if (e.wasClean) {
        alert(`[close] Connection closed cleanly, code=${e.code} reason=${e.reason}`);
    } else {
        alert('[close] Connection died');
        alert(chatSocket.url);
    }
};


document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.ctrlKey){
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    }
};

document.querySelector('#chat-message-submit').onclick = function(e) {
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;
    if (!message) {
        return false;
    }
    chatSocket.send(JSON.stringify({
        'message': message,
        'user_id': {{ user.id }},
        'user_img': "{{ user.small.url }}",
        'user_name': "{{ user.username }}",
    }));
    messageInputDom.value = '';
    messageInputDom.setAttribute("rows", 1);
};

function height_expansion(){
    const ChatContentTextArea = document.getElementById("chat-message-input");
    const maxLineHeight = 5;
    let LineHeight = Number(ChatContentTextArea.getAttribute("rows"));

    while (ChatContentTextArea.scrollHeight < ChatContentTextArea.offsetHeight && LineHeight > 1){
        LineHeight--;
        ChatContentTextArea.setAttribute("rows", LineHeight);
    }

    while (ChatContentTextArea.scrollHeight > ChatContentTextArea.offsetHeight && LineHeight < maxLineHeight){
        LineHeight++;
        ChatContentTextArea.setAttribute("rows", LineHeight);
    }
}

const getCookie = name =>{
    if (document.cookie && document.cookie !== '') {
        for (const cookie of document.cookie.split(';')){
            const [key, value] = cookie.trim().split('=');
            if(key === name) {
                return decodeURIComponent(value);
            }
        }
    }
};
const csrftoken = getCookie('csrftoken');

document.querySelector('#file-upload-button').onclick = function(e) {
    const FileUploadForm = document.querySelector('#id_file');
    FileUploadForm.click();
}

document.querySelector('#id_file').onchange = function(e) {
    const UploadedFile = document.querySelector('#id_file').files[0];
    const formData = new FormData();
    formData.append('file', UploadedFile);
    fetch('{% url 'stumee_chat:process_for_uploaded_file' %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': csrftoken,
        },
    }).then(response => {
        return response.json();
    }).then(response => {
        const extension = response.url.split('.').pop().toLowerCase();

        if (['png', 'jpg', 'gif', 'jpeg', 'bmp'].includes(extension)) {
            console.log('画像' + response.url);
        } else {
            console.log('ファイル' + response.url);
        }
    }).catch(error => {
        console.log(error);
    });
}