<script>
    window.onload = function() {
        function poll() {
            fetch("{% url "stumee_chat:polling-for-unread-question" course_id %}")
                .then((response) => {
                    // time out error
                    if (response.status == 502) {
                        console.log("status 502");
                    }
                    if (response.status != 200) {
                        console.log("status" + response.status);
                    }
                    return response.json();
                })
                .then((studentsData) => {
                    let newElement = '';
                    let studentsList = document.getElementById('student-name-list');
                    parsedData = JSON.parse(studentsData);
                    parsedData.studentinfo.forEach(student => {
                        newElement +=
                            '<a href= "'
                           + '{% url 'stumee_chat:chat_question' course_id 12345 %}'.replace(/12345/, student.id) //need change!
                           + '" class="list-group-item list-group-item-action">'
                           + student.username
                           + '</a>'
                    });
                    studentsList.innerHTML = newElement;
                })
                .catch((error) => {
                    console.log("polling error");
                })
                .finally(() => {
                    setTimeout(poll, 3000);
                });
        }

        function showStudentsList(studentJsonData) {
            console.log(studentJsonData);
            let newElement = '';
            let studentsList = document.getElementById('student-name-list')
            studentJsonData.studentinfo.forEach(student => {
                newElement +=
                    '<a href= "'
                   + '{% url 'stumee_chat:chat_question' course_id 12345 %}'.replace(/12345/, student.id) //need change!
                   + '" class="list-group-item list-group-item-action">'
                   + student.username
                   + '</a>'
            });
        }

        poll();
    }
</script>