<script>
    window.onload = function() {
        function poll(receivedData) {
            let parsedData = [];
            fetch("{% url "stumee_chat:polling-for-unread-question" course_id %}", {
                    method: 'POST',
                    body: JSON.stringify(receivedData),
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-CSRFToken': csrftoken,
                    },
                }).then((response) => {
                    // time out error
                    if (response.status == 502) {
                        console.log("status 502");
                    }
                    if (response.status != 200) {
                        console.log("status" + response.status);
                    }
                    return response.json();
                })
                .then((studentsData) => {
                    let newElement = '';
                    let studentsList = document.getElementById('student-name-list');
                    parsedData = JSON.parse(studentsData);
                    parsedData.forEach(student => {
                        newElement +=
                            '<a href= "'
                           + '{% url 'stumee_chat:chat_question' course_id 12345 %}'.replace(/12345/, student.id) //need change!
                           + '" class="list-group-item list-group-item-action">'
                           + student.username
                           + '</a>'
                    });
                    studentsList.innerHTML = newElement;
                })
                .catch((error) => {
                    console.log("polling error" + error);
                })
                .finally(() => {
                    setTimeout(poll, 2000, parsedData);
                });
        }
        poll([{id: "none", username: "none"}]);
    }
</script>