{% extends 'stumee_study/study_base.html' %}

{% block title %}Study{% endblock %}

{% load study_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
             <div class="col-md-2 d-none d-md-block sidebar border-right" style="background-color: white;">
                 <div class="sidebar-sticky row">
                     <div class="col-4"></div>
                     <ul class="nav flex-column col-8 pr-0">
                         <li class="nav-item mt-3"><h4>Category</h4></li>
                         {% if category_list %}
                            {% for category in category_list %}
                                <li class="nav-item"><a class="nav-link" href="">{{ category.name }}</a></li>
                            {% endfor %}
                         {% endif %}
                         {% if user.user_auth is 2 and user.is_authenticated %}
                             <button type="button" id="category-modal-btn" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalCategoryForm">
                                 <i class="fa fa-plus" aria-hidden="true"></i>
                             </button>
                         {% endif %}
                     </ul>
                 </div>
             </div>

            <!--モーダル-->
            <div class="modal fade" id="modalCategoryForm" tabindex="-1" role="dialog" aria-labelledby="ModalCategoryForm" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Category追加</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="" method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                <button type="submit" class="btn btn-primary">送信</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div role="main" class="col-md-8">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Study</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        {% if user.is_authenticated and user.user_auth is 2 %}
                        <div class="btn-group mr-2">
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'stumee_study:create_course' %}">コース作成</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if course_list %}
                    {% for course in course_list %}
                        <div class="card border-primary mb-4">
                            <div class="card-body p-0 m-4">
                                <div class="border-bottom">
                                    <div class="row">
                                        <div class="mb-2 text-secondary col-6">{{ course.category }}</div>
                                        {% ifequal user course.create_user %}
                                        <div class="text-right col-6 operate_course">
                                            <a href="{% url 'stumee_study:update_course' course.id %}" class="mr-3"><i class="fas fa-cog"></i></a>
                                            <a data-toggle="modal" data-target="#CourseDeleteModal{{ course.id }}"><i class="fas fa-trash-alt"></i></a>
                                            <!-- modal Course Delete Modal -->
                                            <div class="modal fade" id="CourseDeleteModal{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="CourseDeleteModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="CourseDeleteModalLabel">削除確認</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            コース【{{ course.title }}】を完全に削除しますか？
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                                            <form action="{% url 'stumee_study:delete_course' course.id %}" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger">削除</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- modal end -->
                                        </div>
                                        {% endifequal %}
                                    </div>
                                    {% with course.id|judge_if_staffs as staff_list %}
                                        {% if user.id in staff_list %}
                                            <h5 class="card-title"><a class="course-title-a" href="{% url 'stumee_chat:chat_discussion' course.id %}">{{ course.title }}</a></h5>
                                        {% else %}
                                            <h5 class="card-title"><a class="course-title-a" href="{% url 'stumee_chat:chat_question' course.id user.id %}">{{ course.title }}</a></h5>
                                        {% endif %}
                                    {% endwith %}
                                    <div class="text-right my-3">
                                        Teacher : <a href="{% url 'stumee_auth:profile' course.create_user.id %}">{{ course.create_user }}</a>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <a data-toggle="collapse" href="#course-detail-{{ course.id }}" aria-expanded="false" aria-controls="course-detail-{{ course.id }}">
                                        <span><i class="fas fa-angle-down"></i> Course Detail</span>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="course-detail-{{ course.id }}">
                                <div class="card-footer" style="background-color: white;">
                                    <div>
                                        <h5>このコースの説明</h5>
                                        <p class="course-description-p">{{ course.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No Course here</p>
                {% endif %}
             </div>
        </div>
    </div>
{% endblock %}


{% block extrajs %}
    <script>
        $('div.form-group [id^=id_]').addClass('form-control');

        $(function(){
             $('#category-modal-btn').click(function(){
                 $('#modalCategoryForm').find('input[type="text"]').val('');
             });
        });
    </script>
{% endblock %}


{% block extracss %}
    a.course-title-a {
        color: black;
    }

    a.course-title-a:hover {
        color: #33CCFF;
        text-decoration: none;
    }

    p.course-description-p {
        white-space: pre-wrap;
    }

    div.operate_course a {
        color: black;
    }
{% endblock %}