{% extends 'stumee_meeting/meeting_base.html' %}

{% block title %}Study{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
             <div class="col-md-3 d-none d-md-block sidebar border-right" style="background-color: white;">
                 <div class="sidebar-sticky row">
                     <div class="col-5"></div>
                     <ul class="nav flex-column col-7 pr-0">
                         <li class="nav-item"><h4>Category</h4></li>
                         <li class="nav-item"><a class="nav-link" href="">Python</a></li>
                         <li class="nav-item"><a class="nav-link" href="">Java</a></li>
                         <li class="nav-item"><a class="nav-link" href="">C</a></li>
                     </ul>
                 </div>
             </div>
            <div role="main" class="col-md-8">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Study</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'stumee_study:create_course' %}">コース作成</a>
                        </div>
                    </div>
                </div>
                {% if course_list %}
                    {% for course in course_list %}

                    {% endfor %}
                {% else %}
                    <p>No Course here</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}