{% extends 'stumee_study/study_base.html' %}

{% block title %}Study{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
             <div class="col-md-3 d-none d-md-block sidebar border-right" style="background-color: white;">
                 <div class="sidebar-sticky row">
                     <div class="col-5"></div>
                     <ul class="nav flex-column col-7 pr-0">
                         <li class="nav-item"><h4>Category</h4></li>
                         {% if category_list %}
                            {% for category in category_list %}
                                <li class="nav-item"><a class="nav-link" href="">{{ category.name }}</a></li>
                            {% endfor %}
                         {% endif %}
                         {% if user.user_auth is 2 and user.is_authenticated %}
                             <button type="button" id="category-modal-btn" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalCategoryForm">
                                 <i class="fa fa-plus" aria-hidden="true"></i>
                             </button>
                         {% endif %}
                     </ul>
                 </div>
             </div>

            <!--モーダル-->
            <div class="modal fade" id="modalCategoryForm" tabindex="-1" role="dialog" aria-labelledby="ModalCategoryForm" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Category追加</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="" method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                <button type="submit" class="btn btn-primary">送信</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div role="main" class="col-md-8">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Study</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'stumee_study:create_course' %}">コース作成</a>
                        </div>
                    </div>
                </div>
                {% if course_list %}
                    {% for course in course_list %}

                    {% endfor %}
                {% else %}
                    <p>No Course here</p>
                {% endif %}
             </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $('div.form-group [id^=id_]').addClass('form-control');

        $(function(){
             $('#category-modal-btn').click(function(){
                 $('#modalCategoryForm').find('input[type="text"]').val('');
             });
        });
    </script>
{% endblock %}