{% extends 'stumee_study/study_base.html' %}

{% block title %}コース設定{% endblock %}

{% block content %}
    <div class="container mb-3">
        <h1>コース【{{ updated_course.title }}】の設定</h1>
        <form method="POST" action="">
            <div class="container">
                {% for field in form.visible_fields|slice:":6" %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}

                <div class="form-row mb-3">
                    {% for field in form.visible_fields|slice:"6:" %}
                        <div class="col">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>

                {% if form.hidden_fields %}
                    {% for field in form.hidden_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% csrf_token %}
                <a class="btn btn-secondary btn-sm mr-2" role="button" href="{% url 'stumee_study:study_index' %}">取り消し</a>
                <button class="btn btn-primary btn-sm" type="submit">変更</button>
            </div>
        </form>
    </div>
{% endblock %}
